<?xml version="1.0"?>
<launch>
    <!-- solo -->
    <node name="solo_node" pkg="mms_slam" type="solo_node.py" output="screen">
        <remap from="~input" to="/camera/color/image_raw" />
        <param name="~visualization" value="true" />
        <!-- skip how many frames per processing -->
        <param name="~skip_frame" value="0" /> 
        <param name="~root_path" value="$(find mms_slam)/" /> 
    </node> 

    <node name="bag" pkg="rosbag" type="play" args="-l $(env HOME)/Downloads/dynamic_warehouse.bag" />
<!-- rosbag  
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="color_width" value="1280" />
        <arg name="color_height" value="720" />
        <arg name="filters" value="pointcloud" />
    </include>
-->

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mms_slam)/rviz/mms_slam_detection.rviz" />
</launch>
